/* h1 {
  width: 100%;
  color: cadetblue;
} */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* outline: 1px solid red; */
}
@media (max-width: 1680px) {
  body {
    background-color: #fff;
    width: 100%;
    height: 100vh;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;

  .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
  }
  .logo-text1 {
    color: #263238;
  }
  .logo-text2 {
    color: #607d8b;
  }
  .nav-left p {
    padding-left: 5px;
  }
  .nav-right {
    margin-right: 24px;
  }
  .nav-right ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }
  .nav-right ul a {
    text-decoration: none;
    color: #000;
    padding-left: 16px;
  }
}

/* SECTION HERO */
.section-1 {
  display: flex;
  align-items: center;
}
.hero {
  background-color: #eceff1;
}
.hero img {
  width: 1113px;
  height: auto;
  padding: 32px 24px 32px 24px;
}
.right-side {
  display: flex;
  flex-direction: column;
}
.right-side h1 {
  display: flex;
  color: #373737;
  font-size: 32px;
  align-items: flex-start;
  margin: 0 0 16px 0;
}
.right-side p {
  color: #6d6d6d;
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  margin: 8px 0 8px 0;
}
.right-side a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 6px 8px 6px;
  margin: 24px 0 0 0;
  width: 543px;
  height: 42px;
  background-color: #455a64;
  display: flex;
  justify-content: center;
}
.right-side a:hover {
  opacity: 0.7;
}

/* SECTION INFORMATION */
.information {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-2 img {
  width: 1113px;
  height: 610px;
  padding: 32px 24px 0 24px;
}
.section-2 div {
  margin: 32px 0 32px 24px;
}
.section-2 h2 {
  font-size: 24px;
  color: #455a64;
  margin: 32px 0 24px 0;
}
.section-2 p {
  font-size: 16px;
  color: #6d6d6d;
  margin: 0 0 32px 0;
}
.information-text1 img {
  width: 248px;
  height: 248px;
  padding: 16px 0 16px 16px;
}
.information-text1 {
  display: flex;
  align-items: center;
}
.information-text1:hover {
  background-color: #eceff1;
}
.information-text2:hover {
  background-color: #eceff1;
}
.information-text3:hover {
  background-color: #eceff1;
}
.information-text2 {
  display: flex;
  align-items: center;
}
.information-text2 img {
  width: 248px;
  height: 248px;
  padding: 16px 0 16px 16px;
}
.information-text3 {
  display: flex;
  align-items: center;
}
.information-text3 img {
  width: 248px;
  height: 248px;
  padding: 16px 0 16px 16px;
}
.info-1 h3 {
  font-size: 18px;
  color: #455a64;
}
.info-1 p {
  font-size: 16px;
  color: #6d6d6d;
  margin: 8px 0 8px 0;
}
.info-1 a {
  font-size: 16px;
  color: #0277bd;
}
.info-2 h3 {
  font-size: 18px;
  color: #455a64;
}
.info-2 p {
  font-size: 16px;
  color: #6d6d6d;
  margin: 8px 0 8px 0;
}
.info-2 a {
  font-size: 16px;
  color: #0277bd;
}
.info-3 h3 {
  font-size: 18px;
  color: #455a64;
}
.info-3 p {
  font-size: 16px;
  color: #6d6d6d;
  margin: 8px 0 8px 0;
}
.info-3 a {
  font-size: 16px;
  color: #0277bd;
}
.info {
  margin: 16px 0 16px 0;
  .info-1 {
    padding-left: 20px;
  }
  .info-2 {
    padding-left: 20px;
  }
  .info-3 {
    padding-left: 20px;
  }
}

/* SECTION COURSE */
.start-header h2 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #455a64;
  padding: 32px 0 32px 0;
}
.course {
  background-color: #eceff1;
}
.ourcourse {
  display: flex;
  justify-content: flex-start;
  padding: 0 32px 0 32px;
  flex-direction: column;
}
.course-1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}
.course-1:hover {
  box-shadow: 5px 5px 20px grey;
  transition: box-shadow 0.3s;
}
.course-2:hover {
  box-shadow: 5px 5px 20px grey;
  transition: box-shadow 0.3s;
}
.course-3:hover {
  box-shadow: 5px 5px 20px grey;
  transition: box-shadow 0.3s;
}
.course-4:hover {
  box-shadow: 5px 5px 20px grey;
  transition: box-shadow 0.3s;
}
.course-5:hover {
  box-shadow: 5px 5px 20px grey;
  transition: box-shadow 0.3s;
}
.content-6:hover {
  box-shadow: 5px 5px 20px grey;
  transition: box-shadow 0.3s;
}
.course-2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}
.course-3 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}
.course-4 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}
.course-5 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}
.course-6 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}
.course-1 img {
  width: 300px;
  height: auto;
}
.content-1 {
  padding: 16px 16px 24px 16px;
  background-color: #fff;
}
.content-1 h3 {
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #455a64;
}
.content-1 p {
  padding: 8px 0 8px 0;
  font-size: 16px;
  color: #6d6d6d;
}
.course-2 img {
  width: 300px;
  height: auto;
}
.content-2 {
  padding: 16px 16px 24px 16px;
  background-color: #fff;
}
.content-2 h3 {
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #455a64;
}
.content-2 p {
  padding: 8px 0 8px 0;
  font-size: 16px;
  color: #6d6d6d;
}
.course-3 img {
  width: 300px;
  height: auto;
}
.content-3 {
  padding: 16px 16px 24px 16px;
  background-color: #fff;
}
.content-3 h3 {
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #455a64;
}
.content-3 p {
  padding: 8px 0 8px 0;
  font-size: 16px;
  color: #6d6d6d;
}
.course-4 img {
  width: 300px;
  height: auto;
}
.content-4 {
  padding: 16px 16px 24px 16px;
  background-color: #fff;
}
.content-4 h3 {
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #455a64;
}
.content-4 p {
  padding: 8px 0 8px 0;
  font-size: 16px;
  color: #6d6d6d;
}
.course-5 img {
  width: 300px;
  height: auto;
}
.content-5 {
  padding: 16px 16px 24px 16px;
  background-color: #fff;
}
.content-5 h3 {
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #455a64;
}
.content-5 p {
  padding: 8px 0 8px 0;
  font-size: 16px;
  color: #6d6d6d;
}
.course-6 img {
  width: 300px;
  height: auto;
}
.content-6 {
  padding: 16px 16px 24px 16px;
  background-color: #fff;
}
.content-6 h3 {
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #455a64;
}
.content-6 p {
  padding: 8px 0 8px 0;
  font-size: 16px;
  color: #6d6d6d;
}
.start-content-1 {
  display: flex;
  justify-content: space-around;
  padding: 0 32px 32px 0;
  height: auto;
}
.start-content-2 {
  display: flex;
  justify-content: space-around;
  padding: 0 32px 32px 0;
  height: auto;
}

/* SECTION THESIS */
.thesis-info {
  display: flex;
  margin-left: 24px;
}
.section-4 {
  display: flex;
  justify-content: center;
}
.section-4 h2 {
  color: #455a64;
  margin-top: 32px;
  margin-bottom: 32px;
}
.video {
  height: 767px;
  width: 1098px;
}
.video video {
  height: 618px;
  width: 1098px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video h3 {
  color: #455a64;
  margin: 24px 0 8px 0;
}
.video p {
  color: #6d6d6d;
  font-size: 16px;
  margin: 0 0 32px 0;
}
.right-side2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.thesis-text1 {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.thesis-text2 {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.thesis-text1:hover {
  background-color: #eceff1;
}
.thesis-text2:hover {
  background-color: #eceff1;
}
.thesis-text1 img {
  width: 245px;
  height: 245px;
  margin: 16px;
}
.thesis-text2 img {
  width: 245px;
  height: 245px;
  margin: 16px;
}
.fisma {
  margin-left: 16px;
}
.fisma h3 {
  font-size: 18px;
  color: #455a64;
}
.fisma p {
  font-size: 16px;
  color: #6d6d6d;
  margin: 8px 0 8px 0;
}
.now {
  margin-left: 16px;
}
.now h3 {
  font-size: 18px;
  color: #455a64;
}
.now p {
  font-size: 16px;
  color: #6d6d6d;
  margin: 8px 0 8px 0;
}

/* FOOTER */
footer {
  align-items: center;
  height: 44px;
  margin: 16px 0 0 24px;
  font-size: 16px;
  color: #535353;
  display: flex;
  justify-content: space-between;
}
.footer-link {
  margin-right: 16px;
}
.footer-link a {
  text-decoration: none;
  color: #535353;
  margin-left: 16px;
}
